/* *{
    border: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: #0D5D7B;
    color: white;
}
nav{
    justify-content: center;
}
.barra_de_navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text_nav{
    border-bottom: solid 2px white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.logo_icone img{
    width: 50px;
    height: 50px;
    align-items: center;
}
ul{
    text-decoration: none;
    display:flex ;
    flex-direction: row;
    justify-content: center;
}
li{
    text-decoration: none;
} */
*{
    border: 0;
    margin: 0;
}
body{
    background-color: #0D5D7B;
    color: white;
}
.barra_de_navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo_icone img{
    width: 60px;
    height: 60px;
}
.text_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px white;

}
ul{
    display: flex;
    flex-direction: row;
    gap: 35px;
    
}
li{
    list-style: none;
}