@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
*{
    border: 0;
    margin: 0;
}
body{
    background-color: #FFFFFF;
    color: black;
}
nav{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #0D5D7B;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.logo img{
    width: 60px;
    height: 60px;
}
.components{
    /* border-bottom: solid 2px white; */
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
li{
    display: flex;
    flex-direction: row;
}
a{
    color: white;
    text-decoration: none;
}
.tabelas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: top;
    margin-top: 5rem;
}
.movimento_caixa{
    
}
table, th, td{
    border: solid 2px black;
    max-width: 55rem;
}